.toolbar .style-guide-toolbar-tab.toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .style-guide-toolbar-tab.toolbar-tab {
  float: left;
}
.toolbar-icon-style-guide::before {
  background-image: url(../assets/style_guide.svg);
}
.rounded-full {
    border-radius: 9999px;
}
.text-gray-900 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #111827;
  align-self: stretch;
  flex-grow: 0;
}
.text-gray-700 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #374151;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.text-gray-500 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6B7280;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.text-green-800 {
  ont-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #065F46;
  flex: none;
  order: 0;
  flex-grow: 0;
} 
.text-green-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  width: 53px;
  height: 24px;
  background: #D1FAE5;
  border-radius: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.bg-gray-400 {
  color: #9CA3AF;
  width:  16px;
  height: 12px;
}
.border-top {
  border-top: 1px solid #E5E7EB;
}
.border-right {
  border-right: 1px solid #E5E7EB;
  padding-right: 70px;
}
.contact-person {
  justify-content: space-around;
}
